@charset "utf-8";
/* CSS Document */

/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.descripcion {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer .redes img {
    margin: 0 10px;
    transition: transform 0.3s;
}

footer .redes img:hover {
    transform: scale(1.2);
}


